<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
  <connectionStrings>
    <add name="Products_DB" connectionString="Data Source=MEESAM; Integrated Security=true;Initial Catalog=Products;" providerName="System.Data.SqlClient" />
  </connectionStrings>
</configuration>